## Chapter 3: Introduction to Data Types

Overall in this chapter we will cover various datatypes including

* integers
* floating point numbers
* BigInts
* BigFloats
* rational
* Abstract Datatypes
* tuples

### 3.1: Integers

#### Unsigned Integers

Unsigned integers can take on integer values from 0 up to some max value depending on the size of the integer.

These include:
* `UInt8`
* `UInt16`
* `UInt32`
* `UInt64`
* `UInt128`

We can determine the smallest and largest value of any numeric type with the `typemin` and `typemax` functions

In [ ]:
typemin(UInt8)

This result is in hexadecimal (starts with a `0x`) but we can find the decimal value using:

In [ ]:
print(typemin(UInt8))

In [ ]:
typemax(UInt8)

In [ ]:
print(typemax(UInt8))

If you need to know the actual bits associated with any numerical value, use the `bitstring` function:

In [ ]:
bitstring(UInt8(18))

In [ ]:
bitstring(UInt8(255))

In [ ]:
bitstring(UInt64(100000))

#### Signed Integers

Signed integers can have positive, negative or 0 values.  The min and max of an integer is bounded but can be found with the `typemin` and `typemax` functions:

In [ ]:
typemin(Int8)

In [ ]:
typemax(Int8)

In [ ]:
x=Int8(95)

In [ ]:
y=Int8(70)

In [ ]:
x+y

In [ ]:
typemax(Int64)

What's going on here?  Try using `Base.checked_add(x,y)` in an empty cell below.

In [ ]:
Base.checked_add(x,y)

### 3.2 Floating Point Numbers

Floating-point numbers are approximations of decimals

In [ ]:
bitstring(Float16(8.625))

In [ ]:
typemin(Float16)

In [5]:
Float16(1/3)

Float16(0.3333)

In [6]:
string(Float16(1/3))

"0.3333"

In [ ]:
bitstring(1/3)

Floating point numbers cannot store most decimals exactly.  For example:

In [ ]:
1/9+1/9+1/9+1/9+1/9+1/9+1/9+1/9+1/9

### 3.3 Extending integers, the BigInt type

As we saw above, integers have maximum values.  If we need to extend, there is a type call `BigInt` that we can make with the `big` function

In [ ]:
big(10)

In [ ]:
typeof(big(10))

In [ ]:
typeof(10)

In [ ]:
big(10)^100

this number is a googol.

In [ ]:
big(10^100)

What happened here?

### 3.4 Extending Floating Point Numbers with BigFloat

Similar to `BigInt`, there is a type called `BigFloat` that extends floating points.  We can make a `BigFloat` with the `big` function as well

In [7]:
x=big(0.25)

0.25

In [8]:
typeof(x)

BigFloat

In [9]:
a=big(1/9)

0.111111111111111104943205418749130330979824066162109375

Note that 1/9 returns a Float64 and then converted to big

In [10]:
a=big(1)/big(9)

0.1111111111111111111111111111111111111111111111111111111111111111111111111111109

In [11]:
length(string(a))

81

The `setprecision` function can set the precision of a `BigFloat` type.  Because things are handled more easily as powers of 2, we will set the precision this way

In [12]:
setprecision(2^10)

1024

In [13]:
a2=big(1)/big(9)

0.111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111

In [14]:
length(string(big(a2)))

311

### 3.5: Rational Numbers

Here's a few examples with rational numbers (fractions).

In [15]:
2//3
4//7
178//11
-1//2

-1//2

In [16]:
typeof(1//2)

Rational{Int64}

In [17]:
x = Int16(1)//Int16(2)

1//2

In [18]:
typeof(x)

Rational{Int16}

Create the rational number $\frac{1}{9}$ with `BigInt` as the components.

In [19]:
f = big(1)//big(9)

1//9

In [20]:
typeof(f)

Rational{BigInt}

In [21]:
1//9+1//9+1//9+1//9+1//9+1//9+1//9+1//9+1//9

1//1

In [22]:
1//1 + 1//2+1//3+1//4+1//5+1//6+1//7+1//8+1//9+1//10

7381//2520

In [23]:
sum(i->1//i,1:10)

7381//2520

In [24]:
sum(i->1//i,1:50)

LoadError: OverflowError: 5943339269060627227 * 47 overflowed for type Int64

In [25]:
sum(i->big(1)//big(i),1:50)

13943237577224054960759//3099044504245996706400

### 3.6: Complex Numbers

In [26]:
z=1+2im

1 + 2im

In [27]:
typeof(z)

Complex{Int64}

In [28]:
im^2

-1 + 0im

### 3.7: Abstract and Concrete Number Types

Julia has concrete number types (like `Float64` and `Int16`) which are actual types that can be stored.  There is also abstract types (which are sets of other types) these include:
* `Signed` for integers with both positive and negative numbers
* `UnSigned` for all unsigned integers like `UInt8`. 
* `Integer` which is the supertype of all integers. 
* `AbstractFloat`, a supertype of all floating-point numbers.
* `Number`, a supertype of all numbers. 

To check if a type is a subtype of another, use the `<:` operator which returns true if the type of the left is a subtype of the one on the right.

In [29]:
UInt8 <: Integer

true

In [30]:
Float16 <: Signed

false

Converting numbers from one type to another
* the `float` function turns any function into a floating point (defaults to `Float64`)
* the `convert` function can convert a number (the second argument) to a given type (the first argument)
* the `parse` function can parse a string into a given type, even in different bases. 
* The `round`, `floor` and `ceil` functions are helpful to round floating points to integers.

In [31]:
float(1//3)

0.3333333333333333

In [32]:
convert(Float64,1//3)

0.3333333333333333

In [34]:
convert(Float16,1/3)

Float16(0.3333)

In [35]:
parse(Int,"1234")

1234

In [36]:
parse(Float64,"1234")

1234.0

In [37]:
parse(Float64,"abcd")

LoadError: ArgumentError: cannot parse "abcd" as Float64

In [38]:
parse(Int,"10011",base=2)

19

In [39]:
ceil(Int,3.2)

4

### 3.9: Tuples

Tuples are quite helpful if you want to associate two different pieces of data together.  Simply surround the data with parentheses separated by a comma.

In [40]:
(1,2)

(1, 2)

In [41]:
typeof((1,2))

Tuple{Int64,Int64}

In [42]:
tup = (4,3,2,1)

(4, 3, 2, 1)

In [43]:
typeof(tup)

NTuple{4,Int64}

In [44]:
tup[1]

4

The data doesn't have to have the same type in both parts:

In [46]:
t1 = ("Hello", 6)

("Hello", 6)

In [47]:
typeof(t1)

Tuple{String,Int64}

Also, it's often helpful to have a named tuple, to access elements of the tuple.

In [48]:
pt=(x=1,y=3.2,z=9)

(x = 1, y = 3.2, z = 9)

In [49]:
pt.x

1

In [50]:
pt.z=11

LoadError: setfield! immutable struct of type NamedTuple cannot be changed